.offer__wrapper {
  position: relative;
  min-height: 1014px;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 1040px;
    background-color: $special-grey;
    top: 10px;
    left: 10px;

    @media (min-width: $desktop-width) {
      width: 2px;
      left: 299px;
      top: -23px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: $special-grey;
    top: 8px;
    left: 1px;

    @media (min-width: $desktop-width) {
      height: 2px;
      width: 300px;
      top: -25px;
    }
  }
}

.offer__picture {
  @media (min-width: $desktop-width) {
    width: 800px;
    height: 578px;
    margin-top: 68px;
  }
}

.offer__title {
  padding: 29px 25px 7px 30px;

  @media (min-width: $desktop-width) {
    padding: 17px 25px 7px 330px;
  }
}

.offer__list {
  position: absolute;
  right: 0;
  top: 302px;
  padding: 29px 20px 27px 39px;

  @media (min-width: $desktop-width) {
    top: 108px;
    padding: 45px 60px 60px 75px;
  }
}

.button-next--offer {
  left: 61px;
  bottom: -173px;
}
