//Viewports
$modile-width: 330px;
$desktop-width: 1250px;
$mobile-width-only: 1249px;

// Fonts
$font-main: "Arial", sans-serif;
$fs-main: 12px;
$lh-main: 18px;
$fs-accent: 24px;
$lh-accent: 28px;
$fs-additional: 14px;
$lh-additional: 20px;
$fs-desktop: 16px;
$lh-desktop: 24px;
$fs-desktop-accent: 32px;
$lh-desktop-accent: 38px;
$fs-additional-desktop: 18px;
$lh-additional-desktop: 26px;

$fw-normal: 400;
$fw-medium: 500;

// Color
$basic-black: #000000;
$basic-white: #ffffff;
$basic_grey: #f5f0f0;
$special-blue: #4764b0;
$special-grey: #d2c8c8;
